.msg {
	border-bottom: 1px solid #585858;
}

#left_container, #right_container, #chat_container {
	border-color: #303030;
}

#right_container {
	background-color: #323232;
}

.your_msg, .toast-body {
	background-color: #545454
}

.others_msg {
	background-color: #757575
}
.timestamp {
    color: whitesmoke;
}

body {
    background-color: #363636;
    color: white;
}

.heading, .toast-header {
    background-color: #757575
}

.popuptext {
	background-color: #757575;
	color: white;
}
  
/* Popup arrow */
.popuptext::after {
	border-color: transparent transparent #555 transparent;
}

.popover-header {
	background-color: #757575;
	border-bottom: 1px solid #545454 !important;
	border-radius: 0 !important;
}

.popover-body {
	background-color: #545454;
}

#id_file {
	color: white !important
}

a, a:hover {
	color: lightblue
}

.text-muted {
	color: #A0A0A0 !important
}

.popover {
	border-radius: 5px !important;
}

.op_text {
	color: white !important;
}

.modal-content {
	color: black !important;
}

.toast-header {
	color: white
}

.navbar {
	background-color: #292929;
}

.online_user:nth-child(odd) {
	background-color: #404040;
}

.mention {
	background-color: #454545;
}

hr {
	background-color: whitesmoke;
}