.your_msg {
	background-color: #545454
}

.others_msg {
	background-color: #757575
}
.timestamp {
    color: whitesmoke;
}

body {
    background-color: #363636;
    color: white;
}

.heading {
    background-color: #757575
}