.your_msg {
	background-color: #4f0087
}

.others_msg, .heading {
	background-color: #8000db
}
.timestamp {
    color: #dbbfff;
}

body {
    background-color: #240054;
    color: white;
}

.popuptext {
	background-color: #8000db;
	color: white;
}
  
/* Popup arrow */
.popuptext::after {
	border-color: transparent transparent #8000db transparent;
}