.your_msg {
	background-color: #F3F3F3
}

.others_msg {
	background-color: white
}
.timestamp {
    color: #9D9D9D;
}

.heading {
	background-color: whitesmoke;
}

.err {
	background-color: #FF9494;
}

.popuptext {
	/* background-color: whitesmoke;
	color: black; */
}
  
/* Popup arrow */
.popuptext::after {
	border-color: transparent transparent #555 transparent;
}